<meta charset="utf-8">
<link rel="stylesheet" href="css/dashboard.css">

<div class="container tasks" ng-init="getAtividades()">
	<div class="row" ng-repeat="atividade in atividades">
		<div class="col-xs-12 title" ng-click="detalhar($index)">
			<p class="date">{{atividade.data | date: 'd/M/yyyy'}}</p>
			<i class="fa fa-thumb-tack"></i>
			<p class="task-title">{{atividade.tarefa}}</p>
			<p class="text-center">
				<address>{{atividade.endereco}}</address>
			</p>
		</div>
	</div>
</div>