<meta charset="utf-8">
<link rel="stylesheet" href="css/dashboard.css">

<div class="container tasks">
	<div class="row">
		<div class="col-xs-12 date">05/01/2016</div>
	</div>
	<div class="row">
		<div class="col-xs-12 title" ng-click="detalhar()">
			<i class="fa fa-thumb-tack"></i>
			<p class="task-title">Montar cozinha</p>
			<p class="text-center">
				<address>Av 85, nº 185 - Setor Oeste - Goiânia - GO<br/>CEP: 74.000-000 <phone>(62) 98601-0725</phone></address>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 title" ng-click="detalhar()">
			<i class="fa fa-thumb-tack"></i>
			<p class="task-title">Montar quarto</p>
			<p class="text-center">
				<address>Av 85, nº 185 - Setor Oeste - Goiânia - GO<br/>CEP: 74.000-000 <phone>(62) 98601-0725</phone></address>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 date">06/01/2016</div>
	</div>
	<div class="row">
		<div class="col-xs-12 title" ng-click="detalhar()">
			<i class="fa fa-thumb-tack"></i>
			<p class="task-title">Montar escritório</p>
			<p class="text-center">
				<address>Av 85, nº 185 - Setor Oeste - Goiânia - GO<br/>CEP: 74.000-000 <phone>(62) 98601-0725</phone></address>
			</p>
		</div>
	</div>
</div>